@import "./focus-target";
@import "../blocks/front";

#interactives() {
	.click-to-action() {
		#interactives.focus-target();
		#blocks.front();

		& {
			min-width: 80pt;
			padding: var(--PICO-SPACE) var(--TINY-SPACE);
			border: none;
			text-align: center;
			cursor: pointer;
		}

		&:hover {
			box-shadow: @BASE-SHADOW, inset 0 0 0 1pt var(--INVERTED-FRONT-BACKGROUND);
		}

		&:active {
			background-color: var(--FAR-BACKGROUND);
		}

		&:disabled {
			background-image: repeating-linear-gradient(-45deg, var(--BACKGROUND) 0 1.4pt, var(--FAR-BACKGROUND) 1.6pt 3.2pt);
			box-shadow: @BASE-SHADOW, inset 0 0 0 1pt var(--FRONT-BACKGROUND);
			color: var(--LINE);
			cursor: not-allowed;
		}

		&--ghost {
			& {
				background-color: var(--BACKGROUND);
				box-shadow: inset 0 0 0 1pt var(--FRONT-BACKGROUND);
			}

			&:hover {
				background-color: var(--FRONT-BACKGROUND);
				box-shadow: unset;
			}

			&:active {
				background-color: var(--FAR-BACKGROUND);
				box-shadow: unset;
			}

			&:disabled {
				box-shadow: unset;
			}
		}
	}
}
